## IMPORT

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import Timedelta
import numpy as np
import warnings
warnings.filterwarnings("ignore")


pd.set_option('display.max_columns', None)

In [13]:
ice = pd.read_csv('./Working Code/Datasets/icecat_caratteristiche_training.csv')
kpi = pd.read_csv('./Working Code/Datasets/kpi_prodotti_volantini_training.csv')
anagrafica = pd.read_csv('./Working Code/Datasets/anagrafica_volantini_training.csv', encoding='ISO-8859-1')
storico = pd.read_csv('./Working Code/Datasets/storico_quantita_training.csv')
gfk = pd.read_csv('./Working Code/Datasets/gfk_caratteristiche_training.csv')
risultati = pd.read_csv('./Working Code/Datasets/risultati_prodotti_volantini_training.csv')

## DATA CLEANING

### ICE

We does not used this dataset, so we just did an exploratory analysis

In [7]:
ice.head()

,ART_COD,name,title,description,macro_feature_cod,macro_feature_des,feature_cod,feature_des,feature_value,feature_value_nounit,feature_value_unit_cod,feature_value_unit_des,feature_value_type
0,CANCST360L01,CST 360L-01,Candy Smart CST 360L-01 lavatrice Caricamento ...,Smart\nCandy crede nell'importanza del godersi...,1829,Gestione energetica,2494,Consumo di energia per lavaggio,0.765 kWh,0.765,173.0,kWh,number
1,CANCST360L01,CST 360L-01,Candy Smart CST 360L-01 lavatrice Caricamento ...,Smart\nCandy crede nell'importanza del godersi...,1829,Gestione energetica,8491,Tensione di ingresso AC,220 - 240 V,220 - 240,379.0,V,text
2,CANCST360L01,CST 360L-01,Candy Smart CST 360L-01 lavatrice Caricamento ...,Smart\nCandy crede nell'importanza del godersi...,1829,Gestione energetica,8484,Frequenza di ingresso AC,50 Hz,50,130.0,Hz,text
3,CANCST360L01,CST 360L-01,Candy Smart CST 360L-01 lavatrice Caricamento ...,Smart\nCandy crede nell'importanza del godersi...,1829,Gestione energetica,2034,Consumi (modalità spento),0.2 W,0.2,387.0,W,number
4,CANCST360L01,CST 360L-01,Candy Smart CST 360L-01 lavatrice Caricamento ...,Smart\nCandy crede nell'importanza del godersi...,1829,Gestione energetica,2036,Consumi (modalità stand-by),1 W,1,387.0,W,number

In [8]:
ice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491277 entries, 0 to 491276
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ART_COD                 491277 non-null  object
 1   name                    491277 non-null  object
 2   title                   491277 non-null  object
 3   description             491153 non-null  object
 4   macro_feature_cod       491277 non-null  int64
 5   macro_feature_des       491277 non-null  object
 6   feature_cod             491277 non-null  int64
 7   feature_des             491277 non-null  object
 8   feature_value           466447 non-null  object
 9   feature_value_nounit    466444 non-null  object
 10  feature_value_unit_cod  125171 non-null  object
 11  feature_value_unit_des  125171 non-null  object
 12  feature_value_type      491277 non-null  object
dtypes: int64(2), object(11)
memory usage: 48.7+ MB

In [9]:
ice['feature_value_unit_des'].nunique()

71

In [10]:
ice.describe()

       macro_feature_cod    feature_cod
count      491277.000000  491277.000000
mean         8948.912101   12231.972417
std          7607.729523   12572.139867
min            -1.000000       5.000000
25%          5078.000000    2328.000000
50%          6890.000000    7979.000000
75%         10707.000000   17554.000000
max         77548.000000   47293.000000

In [11]:
ice.isnull().sum()

ART_COD                        0
name                           0
title                          0
description                  124
macro_feature_cod              0
macro_feature_des              0
feature_cod                    0
feature_des                    0
feature_value              24830
feature_value_nounit       24833
feature_value_unit_cod    366106
feature_value_unit_des    366106
feature_value_type             0
dtype: int64

In [12]:
ice[(ice['feature_value'].notnull()) & (ice['feature_value_nounit'].isnull())]

,ART_COD,name,title,description,macro_feature_cod,macro_feature_des,feature_cod,feature_des,feature_value,feature_value_nounit,feature_value_unit_cod,feature_value_unit_des,feature_value_type
100022,HORVIEW10LITE64,Honor View 10 Lite 6.5 Doppia SIM,Honor View 10 Lite 6.5 Doppia SIM,Sistema operativo Android 8.1 Processore Octa ...,6887,Archiviazione,33517,Tipo di slot per scheda di memoria,microSD,NaN,NaN,NaN,enumerate
100025,HORVIEW10LITE64,Honor View 10 Lite 6.5 Doppia SIM,Honor View 10 Lite 6.5 Doppia SIM,Sistema operativo Android 8.1 Processore Octa ...,6890,Collegamento in rete,1208,Versione Bluetooth,4.2,NaN,NaN,NaN,enumerate
100026,HORVIEW10LITE64,Honor View 10 Lite 6.5 Doppia SIM,Honor View 10 Lite 6.5 Doppia SIM,Sistema operativo Android 8.1 Processore Octa ...,6890,Collegamento in rete,16921,4G,Sì,NaN,NaN,NaN,enumerate

### KPI

In [13]:
kpi.head()

,CODICE_VOLANTINO,ART_COD,PRODUCT_GROUP,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5
0,18AA,ACEA31521G9827,MOBILE COMPUTING,136498792.0,0.719809,NaN,0.095513,NaN,0.509244
1,18AA,ACEA31531C825,MOBILE COMPUTING,126394531.0,0.719809,0.345495,0.142099,1.000000,0.506211
2,18AA,APLMPXQ2TA,MOBILE COMPUTING,125136538.0,0.719809,0.938900,0.879351,0.699513,0.702057
3,18AA,APLMPXR2TA,MOBILE COMPUTING,125136538.0,0.719809,0.938900,0.158026,0.699513,0.702057
4,18AA,APLMQD32TA,MOBILE COMPUTING,124814100.0,0.719809,1.000000,1.000000,0.699513,1.000000

In [14]:
kpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20983 entries, 0 to 20982
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODICE_VOLANTINO  20983 non-null  object
 1   ART_COD           20983 non-null  object
 2   PRODUCT_GROUP     20983 non-null  object
 3   ITEM_ID           20791 non-null  float64
 4   KPI_1             20983 non-null  float64
 5   KPI_2             14674 non-null  float64
 6   KPI_3             17927 non-null  float64
 7   KPI_4             20571 non-null  float64
 8   KPI_5             17902 non-null  float64
dtypes: float64(6), object(3)
memory usage: 1.4+ MB

In [15]:
kpi.describe()

,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5
count,2.079100e+04,20983.000000,14674.000000,17927.000000,20571.000000,17902.000000
mean,1.627056e+08,0.603360,0.468689,0.294528,0.509629,0.503340
std,1.529419e+07,0.195180,0.301951,0.270543,0.349280,0.381922
min,2.500554e+06,0.177862,0.000000,-0.000005,0.000000,0.000000
25%,1.561955e+08,0.492729,0.275072,0.063739,0.200692,0.132923
50%,1.663445e+08,0.589046,0.450172,0.214534,0.474110,0.436915
75%,1.732319e+08,0.725830,0.708024,0.469987,1.000000,1.000000
max,1.849542e+08,1.000000,1.000000,1.000000,1.000000,1.000000

As we can see from kpi.describe(), columns 'KPI_3' has some negative values, so we replaced them with NaN value

In [16]:
kpi['KPI_3'].where(kpi['KPI_3']>=0, pd.NA, inplace=True)

In [17]:
kpi.describe()

,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5
count,2.079100e+04,20983.000000,14674.000000,1.792600e+04,20571.000000,17902.000000
mean,1.627056e+08,0.603360,0.468689,2.945445e-01,0.509629,0.503340
std,1.529419e+07,0.195180,0.301951,2.705418e-01,0.349280,0.381922
min,2.500554e+06,0.177862,0.000000,8.900000e-09,0.000000,0.000000
25%,1.561955e+08,0.492729,0.275072,6.375398e-02,0.200692,0.132923
50%,1.663445e+08,0.589046,0.450172,2.145608e-01,0.474110,0.436915
75%,1.732319e+08,0.725830,0.708024,4.699965e-01,1.000000,1.000000
max,1.849542e+08,1.000000,1.000000,1.000000e+00,1.000000,1.000000

In [18]:
kpi.isnull().sum()

CODICE_VOLANTINO       0
ART_COD                0
PRODUCT_GROUP          0
ITEM_ID              192
KPI_1                  0
KPI_2               6309
KPI_3               3057
KPI_4                412
KPI_5               3081
dtype: int64

### ANAGRAFICA

In [19]:
display(anagrafica.head())
anagrafica.shape

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,STOCK_ORD_IN_ARRIVO_PZ,PRODUCT_GROUP,BRAND
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,-2.0,Principale,0.0,0.0,CORE WEARABLES,AMAZFIT
1,23BA,2023-02-03,2023-02-12,BASKET SCONTI FEBBRAIO,AMFBAND7,44.99,49.99,854.0,Principale,-10.0,41.0,CORE WEARABLES,AMAZFIT
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.0,194.0,CORE WEARABLES,AMAZFIT
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.0,373.0,CORE WEARABLES,AMAZFIT
4,23CD,2023-03-31,2023-04-13,BASKET SCONTI APRILE,AMFBAND7,44.99,49.99,938.0,Principale,-10.0,182.0,CORE WEARABLES,AMAZFIT

(20983, 13)

In [20]:
anagrafica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20983 entries, 0 to 20982
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CODICE_VOLANTINO        20983 non-null  object
 1   DATA_INIZIO             20983 non-null  object
 2   DATA_FINE               20983 non-null  object
 3   NOME_CAMPAGNA           20983 non-null  object
 4   ART_COD                 20983 non-null  object
 5   PREZZO_PROMO            20963 non-null  float64
 6   PREZZO_LISTINO          17102 non-null  float64
 7   STOCK_PZ                20139 non-null  float64
 8   TIPOLOGIA_PRODOTTO      20983 non-null  object
 9   SCONTO_PERC             17125 non-null  float64
 10  STOCK_ORD_IN_ARRIVO_PZ  6113 non-null   float64
 11  PRODUCT_GROUP           20983 non-null  object
 12  BRAND                   20983 non-null  object
dtypes: float64(5), object(8)
memory usage: 2.1+ MB

In [3]:
anagrafica.isnull().sum()

CODICE_VOLANTINO              0
DATA_INIZIO                   0
DATA_FINE                     0
NOME_CAMPAGNA                 0
ART_COD                       0
PREZZO_PROMO                 20
PREZZO_LISTINO             3881
STOCK_PZ                    844
TIPOLOGIA_PRODOTTO            0
SCONTO_PERC                3858
STOCK_ORD_IN_ARRIVO_PZ    14870
PRODUCT_GROUP                 0
BRAND                         0
dtype: int64

In [4]:
anagrafica.describe()

,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,SCONTO_PERC,STOCK_ORD_IN_ARRIVO_PZ
count,20963.000000,17102.000000,20139.000000,17125.000000,6113.000000
mean,512.989647,628.006715,712.278018,-8.367783,86.295763
std,461.381760,563.735599,1323.811763,14.729870,231.581742
min,0.010000,0.000000,-20861.000000,-68.340000,0.000000
25%,199.990000,229.900000,74.000000,-16.680000,2.000000
50%,379.900000,469.000000,365.000000,0.080000,12.000000
75%,699.900000,899.000000,884.000000,0.240000,60.000000
max,16999.000000,10999.000000,39653.000000,649.960000,4489.000000

In [14]:
# WE TOOK THE ABSOLUTE VALUE OF THE VALUES IN 'SCONTO_PERC' COLUMN

anagrafica['SCONTO_PERC'] = anagrafica['SCONTO_PERC'].abs()

In [15]:
# REPLACE 0 WITH NAN IN 'PREZZO_LISTINO' COLUMN. (PREZZO_LISTINO = 0 MAKES NO SENSE)

anagrafica['PREZZO_LISTINO'].replace(0, np.nan, inplace=True)

In [16]:
# RETRIEVE MISSING 'PREZZO_LISTINO' BY AVERAGING PRICES WITH THE SAME 'ART_COD'

for i in range(anagrafica.shape[0]):
    if pd.isna(anagrafica['PREZZO_LISTINO'][i]):
        df = anagrafica[anagrafica['ART_COD'] == anagrafica['ART_COD'][i]].reset_index()
        if pd.notnull(df['PREZZO_LISTINO'].mean()):
            anagrafica['PREZZO_LISTINO'][i] = df['PREZZO_LISTINO'].mean()

In [17]:
# CALCULATE 'SCONTO_PERC' WHERE I HAVE BOTH 'PREZZO_LISTINO' AND 'PREZZO_PROMO'

condizione = (
    pd.notnull(anagrafica['PREZZO_LISTINO']) &
    pd.notnull(anagrafica['PREZZO_PROMO']) &
    pd.isnull(anagrafica['SCONTO_PERC']) &
    (anagrafica['PREZZO_PROMO'] <= anagrafica['PREZZO_LISTINO'])
)

anagrafica['SCONTO_PERC'] = np.where(
    condizione,
    ((anagrafica['PREZZO_LISTINO'] - anagrafica['PREZZO_PROMO']) / anagrafica['PREZZO_LISTINO']) * 100,
    anagrafica['SCONTO_PERC']
)

In [19]:
# CALCULATE 'PREZZO_PROMO' WHERE I HAVE BOTH 'PREZZO_LISTINO' AND 'SCONTO_PERC'

condizione = (
    pd.notnull(anagrafica['PREZZO_LISTINO']) &
    pd.isnull(anagrafica['PREZZO_PROMO']) &
    pd.notnull(anagrafica['SCONTO_PERC'])
)

anagrafica['PREZZO_PROMO'] = np.where(
    condizione,
    anagrafica['PREZZO_LISTINO'] * (1 - (anagrafica['SCONTO_PERC'])/100),
    anagrafica['PREZZO_PROMO']
)

In [28]:
anagrafica.isnull().sum()

CODICE_VOLANTINO              0
DATA_INIZIO                   0
DATA_FINE                     0
NOME_CAMPAGNA                 0
ART_COD                       0
PREZZO_PROMO                  2
PREZZO_LISTINO              655
STOCK_PZ                    844
TIPOLOGIA_PRODOTTO            0
SCONTO_PERC                 727
STOCK_ORD_IN_ARRIVO_PZ    14870
PRODUCT_GROUP                 0
BRAND                         0
dtype: int64

In [21]:
x = list(anagrafica[anagrafica['PREZZO_LISTINO'].isnull()]['ART_COD'].unique())
len(x)

463

x is a list containing the 'ART_COD' of all the product that have a 'PREZZO_LISTINO' null.

We will use this list later.

In [30]:
anagrafica[anagrafica['SCONTO_PERC']<1]

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,STOCK_ORD_IN_ARRIVO_PZ,PRODUCT_GROUP,BRAND
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,-2.0,Principale,0.00,0.0,CORE WEARABLES,AMAZFIT
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.00,194.0,CORE WEARABLES,AMAZFIT
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.00,373.0,CORE WEARABLES,AMAZFIT
7,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7W,49.99,49.99,0.0,Sostitutivo,0.00,0.0,CORE WEARABLES,AMAZFIT
9,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7W,49.99,49.99,1005.0,Sostitutivo,0.00,92.0,CORE WEARABLES,AMAZFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20962,18HB,2018-08-17,2018-08-30,Fuoritutto2 E,XIAREDMINOTE5332G,179.90,229.90,31.0,ND,0.22,NaN,SMARTPHONES,XIAOMI
20963,18LB,2018-10-25,2018-11-10,Cookeo connect,XIAREDMINOTE6PRO464,249.90,298.00,1034.0,ND,0.16,NaN,SMARTPHONES,XIAOMI
20964,19GD,2019-07-26,2019-08-04,Sotto Costo un mare d'offerte,XIAREDMINOTE7464,169.90,199.90,4594.0,ND,0.15,NaN,SMARTPHONES,XIAOMI
20965,19CB,2019-03-22,2019-04-04,Collezione primavera,XIAREDMINOTE7464,199.90,199.90,767.0,ND,0.00,NaN,SMARTPHONES,XIAOMI
20966,19EB,2019-05-17,2019-05-30,Passione casa,XIAREDMINOTE7464,199.90,199.90,NaN,ND,0.00,NaN,SMARTPHONES,XIAOMI

In [22]:
# MULTIPLIED BY 100 ALL "DISCOUNT_PERC" LESS THAN 1

anagrafica.loc[anagrafica['SCONTO_PERC']<1, 'SCONTO_PERC'] *= 100

In [32]:
anagrafica.describe()

,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,SCONTO_PERC,STOCK_ORD_IN_ARRIVO_PZ
count,20981.000000,20328.000000,20139.000000,20256.000000,6113.000000
mean,512.813077,653.479176,712.278018,21.345450,86.295763
std,461.243295,556.480797,1323.811763,14.566328,231.581742
min,0.010000,29.900000,-20861.000000,0.000000,0.000000
25%,199.990000,249.990000,74.000000,11.000000,2.000000
50%,379.900000,499.000000,365.000000,20.017207,12.000000
75%,699.900000,899.900000,884.000000,31.000000,60.000000
max,16999.000000,10999.000000,39653.000000,649.960000,4489.000000

In [33]:
anagrafica.isnull().sum()

CODICE_VOLANTINO              0
DATA_INIZIO                   0
DATA_FINE                     0
NOME_CAMPAGNA                 0
ART_COD                       0
PREZZO_PROMO                  2
PREZZO_LISTINO              655
STOCK_PZ                    844
TIPOLOGIA_PRODOTTO            0
SCONTO_PERC                 727
STOCK_ORD_IN_ARRIVO_PZ    14870
PRODUCT_GROUP                 0
BRAND                         0
dtype: int64

In [34]:
anagrafica[anagrafica['STOCK_PZ'] < 0]

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,STOCK_ORD_IN_ARRIVO_PZ,PRODUCT_GROUP,BRAND
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,-2.0,Principale,0.000000,0.0,CORE WEARABLES,AMAZFIT
36,21GA,2021-07-02,2021-07-11,Summer Black Friday 2,AMFBIPUP,39.99,59.99,-45.0,ND,33.000000,NaN,CORE WEARABLES,AMAZFIT
62,21GC,2021-07-12,2021-07-22,Mare di Sconti - Tasso 0,AMFBIPUPROGRN,59.99,85.39,-1.0,ND,30.000000,NaN,CORE WEARABLES,AMAZFIT
144,21GA,2021-07-02,2021-07-11,Summer Black Friday 2,AMFGTS2EGR,99.99,129.99,-3.0,ND,23.078698,NaN,CORE WEARABLES,AMAZFIT
159,21GA,2021-07-02,2021-07-11,Summer Black Friday 2,AMFGTS2EP,99.99,129.99,-8.0,ND,23.078698,NaN,CORE WEARABLES,AMAZFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20960,23HC,2023-08-25,2023-09-07,BACK TO SCHOOL,XIAREDMINOTE12PRO4GS,269.90,369.90,-17.0,Sostitutivo,27.030000,0.0,SMARTPHONES,XIAOMI
20970,23LA,2023-10-06,2023-10-15,SOTTOCOSTO,XIARENOTE12PRO256GR,249.90,399.90,-9.0,Sostitutivo,37.510000,0.0,SMARTPHONES,XIAOMI
20971,23LC,2023-10-23,2023-10-31,HALLOWEEN WEEK,XIARENOTE12PRO256GR,279.90,399.90,-12.0,Sostitutivo,30.010000,0.0,SMARTPHONES,XIAOMI
20973,23LA,2023-10-06,2023-10-15,SOTTOCOSTO,XIARENOTE12PRO256W,249.90,399.90,-9.0,Sostitutivo,37.510000,0.0,SMARTPHONES,XIAOMI
20974,23LC,2023-10-23,2023-10-31,HALLOWEEN WEEK,XIARENOTE12PRO256W,279.90,399.90,-12.0,Sostitutivo,30.010000,0.0,SMARTPHONES,XIAOMI

In [23]:
# REPLACE NULL VALUES AND NEGATIVE VALUES WITH 0 IN 'STOCK_PZ' COLUMN

anagrafica['STOCK_PZ'] = anagrafica['STOCK_PZ'].mask(anagrafica['STOCK_PZ'] < 0, 0)
anagrafica['STOCK_PZ'].fillna(0, inplace=True)

In [24]:
# WE DECIDED TO DROP 'STOCK_ORD_IN_ARRIVO_PZ' COLUMN 

anagrafica = anagrafica.drop('STOCK_ORD_IN_ARRIVO_PZ', axis=1)

In [37]:
anagrafica.describe()

       PREZZO_PROMO  PREZZO_LISTINO      STOCK_PZ   SCONTO_PERC
count  20981.000000    20328.000000  20983.000000  20256.000000
mean     512.813077      653.479176    696.925606     21.345450
std      461.243295      556.480797   1267.727430     14.566328
min        0.010000       29.900000      0.000000      0.000000
25%      199.990000      249.990000     47.000000     11.000000
50%      379.900000      499.000000    336.000000     20.017207
75%      699.900000      899.900000    849.000000     31.000000
max    16999.000000    10999.000000  39653.000000    649.960000

In [25]:
anagrafica.isnull().sum()

CODICE_VOLANTINO        0
DATA_INIZIO             0
DATA_FINE               0
NOME_CAMPAGNA           0
ART_COD                 0
PREZZO_PROMO            2
PREZZO_LISTINO        655
STOCK_PZ                0
TIPOLOGIA_PRODOTTO      0
SCONTO_PERC           727
PRODUCT_GROUP           0
BRAND                   0
dtype: int64

In [39]:
anagrafica.shape

(20983, 12)

### STORICO QUANTITA'

In [26]:
storico.head()

  CODICE_VOLANTINO      GIORNO  QTA    ART_COD  FATTURATO
0             18AA  2017-11-30    1  WIKUFEELB      98.35
1             18AA  2017-11-19    1  WIKUFEELB     106.55
2             18AA  2017-12-02    2  WIKUFEELB     196.70
3             18AA  2017-11-22    1  WIKUFEELB     106.55
4             18AA  2017-11-24    1  WIKUFEELB     106.55

In [27]:
storico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631437 entries, 0 to 631436
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CODICE_VOLANTINO  631437 non-null  object
 1   GIORNO            631437 non-null  object
 2   QTA               631437 non-null  int64
 3   ART_COD           631437 non-null  object
 4   FATTURATO         394288 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 24.1+ MB

We decided to group and aggregate data by 'CODICE_VOLANTINO' and 'ART_COD', summing 'QTA' and 'FATTURATO'.

In [28]:
storico = storico.groupby(['CODICE_VOLANTINO', 'ART_COD']).agg({'QTA': 'sum', 'FATTURATO': 'sum'}).reset_index()

In [29]:
storico.head()

  CODICE_VOLANTINO         ART_COD   QTA  FATTURATO
0             18AA  ACEA31521G9827    83   31335.64
1             18AA   ACEA31531C825   109   29275.51
2             18AA      APLMPXQ2TA   494  509286.93
3             18AA      APLMPXR2TA    43   41962.49
4             18AA      APLMQD32TA  1327  991313.03

In [30]:
storico.isnull().sum()

CODICE_VOLANTINO    0
ART_COD             0
QTA                 0
FATTURATO           0
dtype: int64

### RECUPERO PREZZI LISTINI IN ANAGRAFICA

In [31]:
# BEFORE WE CREATED THE LIST X CONTAINING ALL THE 'ART_COD' THAT HAVE E 'PREZZO_LISTINO' NULL.
# WITH THIS LOOP WE TRIED TO RETRIEVE 'PREZZO_LISTINO' BY DIVIDING 'FATTURATO' BY 'QTA' IN THE 'storico' DATAFRAME.
# SO THE OUTPUT WILL BE A DICTIONARY CONTAINING 'ART_COD' AS KEY AND 'PREZZO_LISTINO' AS VALUE.

prezzi_listini_mancanti = {}
for i in x:
    for index in range(storico.shape[0]):
        if storico['ART_COD'][index] == i:
            prezzo = storico['FATTURATO'][index] / storico['QTA'][index]
            prezzi_listini_mancanti[i] = prezzo

In [32]:
# INSERT IN THE 'anagrafica' DATAFRAME THE 'PREZZO_LISTINO' VALUES THAT WE HAVE FOUND

for index in range(anagrafica.shape[0]):
    if anagrafica['ART_COD'][index] in prezzi_listini_mancanti.keys() and pd.isnull(anagrafica['PREZZO_LISTINO'][index]):
        anagrafica['PREZZO_LISTINO'][index] = prezzi_listini_mancanti[anagrafica['ART_COD'][index]]

In [33]:
# CALCULATE 'SCONTO_PERC' WHERE I HAVE BOTH 'PREZZO_LISTINO' AND 'PREZZO_PROMO'

condizione = (
    pd.notnull(anagrafica['PREZZO_LISTINO']) &
    pd.notnull(anagrafica['PREZZO_PROMO']) &
    pd.isnull(anagrafica['SCONTO_PERC']) &
    (anagrafica['PREZZO_PROMO'] <= anagrafica['PREZZO_LISTINO'])
)

anagrafica['SCONTO_PERC'] = np.where(
    condizione,
    ((anagrafica['PREZZO_LISTINO'] - anagrafica['PREZZO_PROMO']) / anagrafica['PREZZO_LISTINO']) * 100,
    anagrafica['SCONTO_PERC']
)

In [34]:
# SET ALL 'PREZZO_PROMO' GREATER THAN 'PREZZO_LISTINO' AS NULL

anagrafica.loc[anagrafica['PREZZO_PROMO'] > anagrafica['PREZZO_LISTINO'], 'PREZZO_PROMO'] = np.nan
anagrafica.isnull().sum()

CODICE_VOLANTINO        0
DATA_INIZIO             0
DATA_FINE               0
NOME_CAMPAGNA           0
ART_COD                 0
PREZZO_PROMO          687
PREZZO_LISTINO        228
STOCK_PZ                0
TIPOLOGIA_PRODOTTO      0
SCONTO_PERC           687
PRODUCT_GROUP           0
BRAND                   0
dtype: int64

In [35]:
# RECOVERY 'PREZZO_PROMO' DIVIDING 'FATTURATO' BY 'QTA'

for index in range(anagrafica.shape[0]):
    if pd.isnull(anagrafica['PREZZO_PROMO'][index]):
        for element in range(storico.shape[0]):
            if anagrafica['ART_COD'][index] == storico['ART_COD'][element] and anagrafica['CODICE_VOLANTINO'][index] == storico['CODICE_VOLANTINO'][element]:
                prezzo = storico['FATTURATO'][element] / storico['QTA'][element]
                anagrafica['PREZZO_PROMO'][index] = prezzo

In [36]:
anagrafica.isnull().sum()

CODICE_VOLANTINO        0
DATA_INIZIO             0
DATA_FINE               0
NOME_CAMPAGNA           0
ART_COD                 0
PREZZO_PROMO          172
PREZZO_LISTINO        228
STOCK_PZ                0
TIPOLOGIA_PRODOTTO      0
SCONTO_PERC           687
PRODUCT_GROUP           0
BRAND                   0
dtype: int64

In [37]:
# CALCULATE AGAIN 'SCONTO_PERC' WHERE I HAVE BOTH 'PREZZO_LISTINO' AND 'PREZZO_PROMO'

condizione = (
    pd.notnull(anagrafica['PREZZO_LISTINO']) &
    pd.notnull(anagrafica['PREZZO_PROMO']) &
    pd.isnull(anagrafica['SCONTO_PERC']) &
    (anagrafica['PREZZO_PROMO'] <= anagrafica['PREZZO_LISTINO'])
)

anagrafica['SCONTO_PERC'] = np.where(
    condizione,
    ((anagrafica['PREZZO_LISTINO'] - anagrafica['PREZZO_PROMO']) / anagrafica['PREZZO_LISTINO']) * 100,
    anagrafica['SCONTO_PERC']
)

In [38]:
anagrafica.isnull().sum()

CODICE_VOLANTINO        0
DATA_INIZIO             0
DATA_FINE               0
NOME_CAMPAGNA           0
ART_COD                 0
PREZZO_PROMO          172
PREZZO_LISTINO        228
STOCK_PZ                0
TIPOLOGIA_PRODOTTO      0
SCONTO_PERC           331
PRODUCT_GROUP           0
BRAND                   0
dtype: int64

In [44]:
# CALCULATE 'PREZZO_PROMO' WHERE I HAVE BOTH 'PREZZO_LISTINO' AND 'SCONTO_PERC'

condizione = (
    pd.notnull(anagrafica['PREZZO_LISTINO']) &
    pd.isnull(anagrafica['PREZZO_PROMO']) &
    pd.notnull(anagrafica['SCONTO_PERC'])
)

anagrafica['PREZZO_PROMO'] = np.where(
    condizione,
    anagrafica['PREZZO_LISTINO'] * (1 - (anagrafica['SCONTO_PERC'])/100),
    anagrafica['PREZZO_PROMO']
)

In [45]:
anagrafica.dropna(inplace=True)

In [46]:
anagrafica.describe().T

,count,mean,std,min,25%,50%,75%,max
PREZZO_PROMO,20602.0,503.594198,415.249862,0.01,199.99,379.900000,699.00,6999.00
PREZZO_LISTINO,20602.0,650.030284,554.786865,29.90,249.99,492.554167,899.90,10999.00
STOCK_PZ,20602.0,706.884040,1275.663203,0.00,55.00,345.000000,862.75,39653.00
SCONTO_PERC,20602.0,21.105023,14.604325,0.00,10.72,20.000000,30.77,649.96

In [47]:
# WE DROP ALLA THE ROWS THAT HAVE 'PREZZO_PROMO' EQUAL TO 0

anagrafica = anagrafica[anagrafica['PREZZO_PROMO'] > 0.01]

In [48]:
anagrafica.shape

(20599, 12)

### GFK

Initially we did just an exploratory analysis on this dataset. 

Later we will manipulate it to make the best use of it.

In [58]:
gfk.head()

,ITEM_ID,CARATTERISTICA_01,CARATTERISTICA_02,CARATTERISTICA_05,CARATTERISTICA_04,CARATTERISTICA_03,CARATTERISTICA_06,CARATTERISTICA_07,CARATTERISTICA_08
0,136498792.0,GPU MODEL RAD 520,PROCESSOR A9-SERIES,OS VERSION WIN10 HOME,STORAGE IN GB 1000,RAM IN GB 8,DISPLAY SIZE 15.6,CONVERTIBLE NO,ND
1,126394531.0,SEGMENTS NOTEBOOK,PROCESSOR CELERON N,OS VERSION WIN10 HOME,STORAGE IN GB 500,RAM IN GB 4,DISPLAY SIZE 15.6,CONVERTIBLE NO,ND
2,125136538.0,SEGMENTS NOTEBOOK,PROCESSOR CORE I5,OS VERSION MACOS HIGH SIER,STORAGE IN GB 128,RAM IN GB 8,DISPLAY SIZE 13.3,CONVERTIBLE NO,ND
3,124814100.0,SEGMENTS NOTEBOOK,PROCESSOR CORE I5,OS VERSION MACOS SIERRA,STORAGE IN GB 128,RAM IN GB 8,DISPLAY SIZE 13.3,CONVERTIBLE NO,ND
4,133558471.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
gfk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3267 entries, 0 to 3266
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ITEM_ID            3266 non-null   float64
 1   CARATTERISTICA_01  2923 non-null   object
 2   CARATTERISTICA_02  2923 non-null   object
 3   CARATTERISTICA_05  2923 non-null   object
 4   CARATTERISTICA_04  2923 non-null   object
 5   CARATTERISTICA_03  2923 non-null   object
 6   CARATTERISTICA_06  2923 non-null   object
 7   CARATTERISTICA_07  2923 non-null   object
 8   CARATTERISTICA_08  2923 non-null   object
dtypes: float64(1), object(8)
memory usage: 229.8+ KB

In [60]:
gfk.isnull().sum()

ITEM_ID                1
CARATTERISTICA_01    344
CARATTERISTICA_02    344
CARATTERISTICA_05    344
CARATTERISTICA_04    344
CARATTERISTICA_03    344
CARATTERISTICA_06    344
CARATTERISTICA_07    344
CARATTERISTICA_08    344
dtype: int64

In [61]:
# WE USED dropna() BECAUSE THERE WERE 344 ROWS WITH ONLY NULL VALUES

gfk = gfk.dropna()

### RISULTATI PRODOTTI VOLANTINI

In [62]:
risultati.head()

  CODICE_VOLANTINO         ART_COD     PRODUCT_GROUP     QTA  FATTURATO
0             18AA  ACEA31521G9827  MOBILE COMPUTING   641.0  226565.24
1             18AA   ACEA31531C825  MOBILE COMPUTING   649.0  159475.61
2             18AA      APLMPXQ2TA  MOBILE COMPUTING   316.0  357913.48
3             18AA      APLMPXR2TA  MOBILE COMPUTING    93.0  105817.16
4             18AA      APLMQD32TA  MOBILE COMPUTING  1133.0  882267.08

In [63]:
risultati.isnull().sum()

CODICE_VOLANTINO       0
ART_COD                0
PRODUCT_GROUP          0
QTA                 1662
FATTURATO           1662
dtype: int64

In [64]:
# WE REPLACED THE NULL VALUES WITH 0

risultati.fillna(0, inplace=True)

## UNIONE

In [65]:
df1 = pd.merge(anagrafica, kpi, on = ["ART_COD", "CODICE_VOLANTINO"])

In [66]:
df1.head()

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,PRODUCT_GROUP_x,BRAND,PRODUCT_GROUP_y,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,0.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.314157,0.000000,NaN,0.308088,NaN
1,23BA,2023-02-03,2023-02-12,BASKET SCONTI FEBBRAIO,AMFBAND7,44.99,49.99,854.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.283915,0.000000,0.151703,1.000000,NaN
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.344724,0.219108,0.142482,1.000000,0.044455
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,1.000000,0.000000,0.013192,0.630478,NaN
4,23CD,2023-03-31,2023-04-13,BASKET SCONTI APRILE,AMFBAND7,44.99,49.99,938.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.243773,0.225063,0.142833,1.000000,0.025981

In [67]:
df1 = pd.merge(df1, risultati, on = ["ART_COD", "CODICE_VOLANTINO"])

In [68]:
df1.head()

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,PRODUCT_GROUP_x,BRAND,PRODUCT_GROUP_y,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5,PRODUCT_GROUP,QTA,FATTURATO
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,0.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.314157,0.000000,NaN,0.308088,NaN,CORE WEARABLES,25.0,1010.07
1,23BA,2023-02-03,2023-02-12,BASKET SCONTI FEBBRAIO,AMFBAND7,44.99,49.99,854.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.283915,0.000000,0.151703,1.000000,NaN,CORE WEARABLES,151.0,5643.55
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.344724,0.219108,0.142482,1.000000,0.044455,CORE WEARABLES,165.0,6718.26
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,1.000000,0.000000,0.013192,0.630478,NaN,CORE WEARABLES,423.0,17289.27
4,23CD,2023-03-31,2023-04-13,BASKET SCONTI APRILE,AMFBAND7,44.99,49.99,938.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.243773,0.225063,0.142833,1.000000,0.025981,CORE WEARABLES,132.0,4956.73

In [69]:
df1 = pd.merge(df1, storico, on = ["ART_COD", "CODICE_VOLANTINO"], suffixes=('', '_storico'))

In [70]:
df1.head()

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,PRODUCT_GROUP_x,BRAND,PRODUCT_GROUP_y,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5,PRODUCT_GROUP,QTA,FATTURATO,QTA_storico,FATTURATO_storico
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,0.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.314157,0.000000,NaN,0.308088,NaN,CORE WEARABLES,25.0,1010.07,0,0.00
1,23BA,2023-02-03,2023-02-12,BASKET SCONTI FEBBRAIO,AMFBAND7,44.99,49.99,854.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.283915,0.000000,0.151703,1.000000,NaN,CORE WEARABLES,151.0,5643.55,617,25389.55
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.344724,0.219108,0.142482,1.000000,0.044455,CORE WEARABLES,165.0,6718.26,214,8303.87
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,1.000000,0.000000,0.013192,0.630478,NaN,CORE WEARABLES,423.0,17289.27,38,1537.51
4,23CD,2023-03-31,2023-04-13,BASKET SCONTI APRILE,AMFBAND7,44.99,49.99,938.0,Principale,10.0,CORE WEARABLES,AMAZFIT,CORE WEARABLES,177507779.0,0.243773,0.225063,0.142833,1.000000,0.025981,CORE WEARABLES,132.0,4956.73,177,6725.63

In [71]:
df1.drop(["PRODUCT_GROUP_x",'PRODUCT_GROUP_y'], inplace = True, axis = 1)

In [72]:
df1.columns

Index(['CODICE_VOLANTINO', 'DATA_INIZIO', 'DATA_FINE', 'NOME_CAMPAGNA',
       'ART_COD', 'PREZZO_PROMO', 'PREZZO_LISTINO', 'STOCK_PZ',
       'TIPOLOGIA_PRODOTTO', 'SCONTO_PERC', 'BRAND', 'ITEM_ID', 'KPI_1',
       'KPI_2', 'KPI_3', 'KPI_4', 'KPI_5', 'PRODUCT_GROUP', 'QTA', 'FATTURATO',
       'QTA_storico', 'FATTURATO_storico'],
      dtype='object')

In [73]:
df1.isnull().sum()

CODICE_VOLANTINO         0
DATA_INIZIO              0
DATA_FINE                0
NOME_CAMPAGNA            0
ART_COD                  0
PREZZO_PROMO             0
PREZZO_LISTINO           0
STOCK_PZ                 0
TIPOLOGIA_PRODOTTO       0
SCONTO_PERC              0
BRAND                    0
ITEM_ID                163
KPI_1                    0
KPI_2                 6009
KPI_3                 2731
KPI_4                  371
KPI_5                 2753
PRODUCT_GROUP            0
QTA                      0
FATTURATO                0
QTA_storico              0
FATTURATO_storico        0
dtype: int64

In [74]:
df1.shape

(20542, 22)

## LAVORO SUL DATASET

In [75]:
df1.head()

,CODICE_VOLANTINO,DATA_INIZIO,DATA_FINE,NOME_CAMPAGNA,ART_COD,PREZZO_PROMO,PREZZO_LISTINO,STOCK_PZ,TIPOLOGIA_PRODOTTO,SCONTO_PERC,BRAND,ITEM_ID,KPI_1,KPI_2,KPI_3,KPI_4,KPI_5,PRODUCT_GROUP,QTA,FATTURATO,QTA_storico,FATTURATO_storico
0,22LB,2022-10-17,2022-10-27,SECONDO AL 50,AMFBAND7,49.99,49.99,0.0,Principale,0.0,AMAZFIT,177507779.0,0.314157,0.000000,NaN,0.308088,NaN,CORE WEARABLES,25.0,1010.07,0,0.00
1,23BA,2023-02-03,2023-02-12,BASKET SCONTI FEBBRAIO,AMFBAND7,44.99,49.99,854.0,Principale,10.0,AMAZFIT,177507779.0,0.283915,0.000000,0.151703,1.000000,NaN,CORE WEARABLES,151.0,5643.55,617,25389.55
2,23EA,2023-05-12,2023-05-25,VOLAGRATIS,AMFBAND7,49.99,49.99,1104.0,Principale,0.0,AMAZFIT,177507779.0,0.344724,0.219108,0.142482,1.000000,0.044455,CORE WEARABLES,165.0,6718.26,214,8303.87
3,22NB,2022-12-18,2022-12-24,CALENDARIO AVVENTO,AMFBAND7,49.99,49.99,1296.0,Principale,0.0,AMAZFIT,177507779.0,1.000000,0.000000,0.013192,0.630478,NaN,CORE WEARABLES,423.0,17289.27,38,1537.51
4,23CD,2023-03-31,2023-04-13,BASKET SCONTI APRILE,AMFBAND7,44.99,49.99,938.0,Principale,10.0,AMAZFIT,177507779.0,0.243773,0.225063,0.142833,1.000000,0.025981,CORE WEARABLES,132.0,4956.73,177,6725.63

In [76]:
df1['DATA_INIZIO'] = pd.to_datetime(df1['DATA_INIZIO'])
df1['DATA_FINE'] = pd.to_datetime(df1['DATA_FINE'])

In [77]:
# WE CREATED 'DURATA_VOLANTINO_IN_GIORNI' COLUMN

df1['DURATA_VOLANTINO_IN_GIORNI'] = df1['DATA_FINE'] - df1['DATA_INIZIO']
df1['DURATA_VOLANTINO_IN_GIORNI'] = df1['DURATA_VOLANTINO_IN_GIORNI'].apply(lambda x: x.days)

In [78]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20542 entries, 0 to 20541
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CODICE_VOLANTINO            20542 non-null  object
 1   DATA_INIZIO                 20542 non-null  datetime64[ns]
 2   DATA_FINE                   20542 non-null  datetime64[ns]
 3   NOME_CAMPAGNA               20542 non-null  object
 4   ART_COD                     20542 non-null  object
 5   PREZZO_PROMO                20542 non-null  float64
 6   PREZZO_LISTINO              20542 non-null  float64
 7   STOCK_PZ                    20542 non-null  float64
 8   TIPOLOGIA_PRODOTTO          20542 non-null  object
 9   SCONTO_PERC                 20542 non-null  float64
 10  BRAND                       20542 non-null  object
 11  ITEM_ID                     20379 non-null  float64
 12  KPI_1                       20542 non-null  float64
 13  KPI_2                       14533 non-null  float64
 14  KPI_3                       17811 non-null  float64
 15  KPI_4                       20171 non-null  float64
 16  KPI_5                       17789 non-null  float64
 17  PRODUCT_GROUP               20542 non-null  object
 18  QTA                         20542 non-null  float64
 19  FATTURATO                   20542 non-null  float64
 20  QTA_storico                 20542 non-null  int64
 21  FATTURATO_storico           20542 non-null  float64
 22  DURATA_VOLANTINO_IN_GIORNI  20542 non-null  int64
dtypes: datetime64[ns](2), float64(13), int64(2), object(6)
memory usage: 3.6+ MB

In [79]:
df1.isnull().sum()

CODICE_VOLANTINO                 0
DATA_INIZIO                      0
DATA_FINE                        0
NOME_CAMPAGNA                    0
ART_COD                          0
PREZZO_PROMO                     0
PREZZO_LISTINO                   0
STOCK_PZ                         0
TIPOLOGIA_PRODOTTO               0
SCONTO_PERC                      0
BRAND                            0
ITEM_ID                        163
KPI_1                            0
KPI_2                         6009
KPI_3                         2731
KPI_4                          371
KPI_5                         2753
PRODUCT_GROUP                    0
QTA                              0
FATTURATO                        0
QTA_storico                      0
FATTURATO_storico                0
DURATA_VOLANTINO_IN_GIORNI       0
dtype: int64

We decided to fill null values of KPI columns with 0 because in the data mapping file provided us by Unieuro, they say 'If missing, it's because the product/product group is not sold...'

So we believe that if a product was not sold, it's reasonably that his KPI is zero

In [80]:
df1['KPI_2'].fillna(0, inplace=True)
df1['KPI_3'].fillna(0, inplace=True)
df1['KPI_4'].fillna(0, inplace=True)
df1['KPI_5'].fillna(0, inplace=True)

In [81]:
df1.describe().T

,count,mean,min,25%,50%,75%,max,std
DATA_INIZIO,20542,2021-06-20 14:49:13.324895232,2018-01-02 00:00:00,2020-04-20 00:00:00,2021-10-08 00:00:00,2022-10-07 00:00:00,2023-10-23 00:00:00,NaN
DATA_FINE,20542,2021-07-02 13:06:06.273975552,2018-01-24 00:00:00,2020-05-03 00:00:00,2021-10-17 00:00:00,2022-10-16 00:00:00,2023-10-31 00:00:00,NaN
PREZZO_PROMO,20542.0,503.149485,19.9,199.99,379.9,699.0,6999.0,413.868576
PREZZO_LISTINO,20542.0,649.746478,29.9,249.99,491.06,899.9,10999.0,553.946087
STOCK_PZ,20542.0,708.846558,0.0,57.0,346.0,865.75,39653.0,1276.970797
SCONTO_PERC,20542.0,21.123469,0.0,10.943163,20.0,30.77,649.96,14.557577
ITEM_ID,20379.0,162814088.918396,2500554.0,156473267.0,166392251.0,173244063.0,184954193.0,15201750.624292
KPI_1,20542.0,0.602878,0.177862,0.490511,0.589046,0.72583,1.0,0.195516
KPI_2,20542.0,0.33296,0.0,0.0,0.300045,0.58823,1.0,0.331757
KPI_3,20542.0,0.256041,0.0,0.022993,0.158792,0.417547,1.0,0.27108
KPI_4,20542.0,0.501252,0.0,0.189426,0.45477,1.0,1.0,0.352674
KPI_5,20542.0,0.435766,0.0,0.04974,0.324215,1.0,1.0,0.394654
QTA,20542.0,288.093564,0.0,27.0,126.0,362.0,10456.0,472.618238
FATTURATO,20542.0,82765.694469,0.0,7937.2825,39710.415,106774.49,2523450.16,126914.944031
QTA_storico,20542.0,370.266917,0.0,12.0,107.0,405.0,20593.0,732.863992
FATTURATO_storico,20542.0,111239.769143,0.0,3643.9275,33954.335,126150.74,3246776.4,208149.829617
DURATA_VOLANTINO_IN_GIORNI,20542.0,11.928391,6.0,9.0,13.0,13.0,22.0,3.84355

In [82]:
df1.shape

(20542, 23)

In [680]:
#df1.to_csv('/Users/vincenzocamerlengo/Desktop/Data Science in Action/Unieuro Dataset-20240305/dati_luiss_2/dataframe_finale.csv')